{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>{% block title %}Default{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static 'css/common.css' %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% block includes %}{% endblock  %}

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div><!--/.navbar-header -->

    <div class="collapse navbar-collapse" id="navbar">
      {% if not user.is_authenticated %}
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>
        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign Up</a></li>
      </ul>
      {% endif %}

      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
      </ul>
      {% endif %}
    </div><!--/.navbar-collapse -->

  </div>
</nav>


<div class="container wrapper">
  {% block container %}{% endblock  %}		
</div> <!-- container --> 

<div class="clearfix"></div>

<footer class="footer">    
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <p class="mute-text text-center">Simple one to one chatting web app</p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
