{% extends 'chat_app/base.html' %}

{% load staticfiles %}

{% block title %}Messagner{% endblock %}

{% block includes %}
    <link href="{% static 'css/messenger.css' %}" rel="stylesheet">
{% endblock  %}

{% block container %}

<h2>You are logging in as <label>"{{ user.first_name }}"</label></h2>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-3 users_list pre-scrollable">
        <div class="list-group">
            <a href="#" class="list-group-item"><span class="label label-success">Online</span> User 1</a>
            <a href="#" class="list-group-item"><span class="label label-warning">Offline</span> User 2</a>
            <a href="#" class="list-group-item"><span class="label label-success">Online</span> User 3</a>
            <a href="#" class="list-group-item"><span class="label label-success">Online</span> User 4</a>
            <a href="#" class="list-group-item"><span class="label label-warning">Offline</span> User 5</a>
        </div>
    </div>
    <div class="col-md-9 chat_box">
        <div class="messages pre-scrollable">
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
            <p>Bootstrap heading <small>2013-10-10 10:49:29.0</small></p>
        </div>
        <div class="clearfix"></div>
        <div class="fixed-bottom input-group">
            <input type="text" class="form-control" placeholder="type a message ...">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Send</button>
            </span>
        </div><!-- /input-group -->
    </div>
    
</div>

{% endblock %}

